body{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.container{
    width: 1000px;
    height: auto;
    margin: 30px auto;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.personal{
    width: 300px;
    height: 500px;
    float: left;
    border: 1px solid black;
    border-radius: 25px;
    box-sizing: border-box;
    margin-left: 30px;
    transition: all 0.5s;
}
    .personal:hover{
            transform: scale(1.1,1.1);
            transition: all 0.5s;
    }

.professional{
    width: 300px;
    height: 500px;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
    margin-left: 30px;
}

.enterprises{
    width: 300px;
    height: 500px;
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
    margin-left: 30px;
}

.clearfix{
    clear: both;
}

.personal-title{
    width: 100%;
    height: auto;
    text-align: center;
    border-radius: 25px;
    border: 1px solid transparent;
    box-sizing: border-box;
    background-color: #eceff3;
}

.personal-price{
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
}

.personal-price span{
    font-size: 50px;
}

.personal-text{
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    box-sizing: border-box;
    text-align: center;
    font-size: 20px;
}

.personal-btn{
    text-align: center;
    margin-top: 15px;
}

.personal-btn a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 25px;
    padding: 20px 25px;
}
    .personal-btn a:hover{
            background-color: #6c59b4;
    }